.root {
  display: flex;
  padding: 0 33px;
}

:global(.container).main {
  margin-top: 80px;
  width: 100%;
  min-width: 0;
}

@media (max-width: 680px) {
  .root {
    flex-direction: column;
    padding: 0 15px;
  }
  :global(.container).main {
    margin-top: 20px;
    padding: 0;
  }
}
