.albumCover {
  text-align: center;
}

.albumCover:hover img {
  transform: scale(1.1);
}

.albumCover figure {
  height: auto;
  overflow: hidden;
  margin-bottom: 15px;
}

.albumCover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.albumCover h5 {
  margin-bottom: 10px;
}

.albumName {
  color: #fafafa;
}

.albumArtists {
  color: #999;
}

.albumArtists,
.albumName {
  font-weight: normal;
}

@media (max-width: 450px) {
  .albumCover figure {
    flex: 1 1 auto;
  }
}
