.backdrop {
  display: block;
  opacity: 1;
  pointer-events: initial;
  transition: 1s opacity linear;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modalContent h3 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup label {
  font-size: 16px;
  color: #999;
  margin-bottom: 10px;
}

.inputGroup input {
  height: 50px;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #999;
  outline: 0;
}
.inputGroup input,
.inputGroup input::placeholder {
  font-size: 24px;
  font-weight: bold;
  color: #999;
}

.formHandlers {
  display: flex;
  justify-content: center;
}

.formHandlers button {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  background-color: #999;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.formHandlers button:hover {
  background-color: rgba(0, 0, 0, 0.77);
}

#modal {
  padding: 25px;
  width: 560px;
  background: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid #c8c8c8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 560px) {
  #modal {
    width: 100%;
  }
}
