.album {
  display: flex;
}

.albumCover figure {
  height: auto;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  margin-right: 60px;
}

.rightPanel {
  flex-basis: 65%;
  width: 100%;
  min-width: 0;
}

.leftPanel,
.rightPanel {
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.goBackLink {
  display: inline-block;
  text-decoration: none;
  color: #fafafa;
  font-size: 18px;
  margin-bottom: 45px;
}

.goBackLink::before {
  content: '';
  width: 7px;
  height: 7px;
  display: inline-block;
  position: relative;
  top: -2px;
  margin-right: 10px;
  border: 2px solid white;
  border-right: none;
  border-bottom: none;
  transform: rotate(-45deg);
}

.message {
  color: #fafafa;
  font-weight: normal;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .rightPanel {
    flex-basis: 70%;
  }
  .leftPanel {
    flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  .album {
    flex-direction: column;
    align-items: center;
  }
  .leftPanel {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
