.lisItem {
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
  padding: 0 25px;
  margin-bottom: 20px;
}

.lisItem :global(a) {
  text-decoration: none;
  display: block;
}

.lisItem :global(a figure) {
  height: 170px;
}

.lisItem:nth-child(5n + 1) {
  padding: 0px;
  padding-right: 25px;
}

.lisItem:nth-child(5n) {
  padding: 0px;
  padding-left: 25px;
}

@media (max-width: 1000px) {
  .lisItem:nth-child(2n) {
    padding: 0px;
  }
  .lisItem:nth-child(2n + 1) {
    padding: 0;
  }
  .lisItem:nth-child(5n + 1),
  .lisItem:nth-child(5n) {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .lisItem:nth-child(2n) {
    padding: 0px;
  }
  .lisItem:nth-child(2n + 1) {
    padding: 0;
  }
  .lisItem:nth-child(5n + 1),
  .lisItem:nth-child(5n) {
    padding: 0;
  }
  .lisItem:nth-child(even) {
    padding-left: 25px;
  }
  .lisItem:nth-child(odd) {
    padding-right: 25px;
  }
}

@media (max-width: 680px) {
  .lisItem:nth-child(2n) {
    padding: 0;
  }
  .lisItem:nth-child(2n + 1) {
    padding: 0;
  }
  .lisItem:nth-child(5n + 1),
  .lisItem:nth-child(5n) {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .lisItem:nth-child(5n) {
    padding: 0;
  }
  .lisItem:nth-child(5n + 1) {
    padding: 0;
  }
}
