.root {
  display: flex;
  padding: 0 33px;
}

:global(.container).main {
  margin-top: 80px;
  width: 100%;
}

.searchForm {
  margin-bottom: 80px;
}

.searchLabel {
  font-size: 14px;
  color: #fafafa;
  margin-left: 12px;
}

.searchInput,
.searchInput::placeholder {
  font-size: 48px;
  font-weight: bold;
  color: #999;
}

.inputContainer {
  border-bottom: 2px solid #999;
  padding: 12px 0;
}

.searchInput {
  border: 0;
  background: transparent;
  outline: 0;
  padding-left: 10px;
  width: 100%;
}

@media (max-width: 680px) {
  .root {
    flex-direction: column;
    padding: 0 15px;
  }
  :global(.container).main {
    margin-top: 20px;
    padding: 0;
  }

  .searchInput,
  .searchInput::placeholder {
    font-size: 24px;
    font-weight: bold;
    color: #999;
  }

  .searchForm {
    margin-bottom: 40px;
  }
}
