* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
}

body {
  background: #161616;
  overflow-x: hidden;
}

:global(.container) {
  width: 1130px;
  margin: 0 auto;
}

@media (max-width: 1130px) {
  :global(.container) {
    padding: 0 15px;
    width: 100%;
  }
}

:global(.column-5) {
  flex-basis: 20%;
}

@media (max-width: 1000px) {
  :global(.column-5) {
    flex-basis: 33%;
  }
}

@media (max-width: 768px) {
  :global(.column-5) {
    flex-basis: 50%;
  }
}

@media (max-width: 680px) {
  :global(.column-5) {
    flex-basis: 100%;
  }
}
