.lisItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  transition: 1s all cubic-bezier(0.19, 1, 0.22, 1);
}

.lisItem:hover,
.lisItem.active {
  padding: 10px;
  background: #fafafa0d;
}
.lisItem:hover .playButton,
.lisItem.active .playButton {
  display: block;
  margin-right: 10px;
}

.trackNumber {
  margin-right: 16px;
}

.trackName {
  color: #fafafa;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.trackNameWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
  margin-right: 10px;
}

.trackDuration {
  margin-left: auto;
}

.trackNumber,
.trackDuration {
  font-size: 14px;
  color: #999;
}

.playButton {
  display: none;
  text-decoration: none;
  color: white;
}

.playButton svg {
  width: 16px;
  height: 16px;
}
